input {
    background-color: lightyellow;
}

select {
    background-color: lightyellow;
}

#applicant-last-name {
    font-weight: bold;
}

.instructions {
    border: solid 1px gray;
    padding: 10px;
    margin: 10px;
}